<header class="header">
	<div class="">
		{{>logo }}
	</div>

	<nav class="header_link">
		<div class="header_nav_right">
			{{>nav list=header }}
		</div>
	</nav>
</header>

{{#with main}}
<div class="hero">
	<div class="hero_content">
		<h1 class="hero_title">{{heading}}</h1>
		<p class="hero_text">{{description}}</p>
		<a href="{{href}}" class="button card_button">{{button}}</a>
	</div>
	<img class="hero_image" src="{{image}}" alt="hero_image">
</div>
{{/with}}

<main class="featured">
	{{#each featured}}
	<div class="card">
		<div class="card_image" style="background-image: url({{photo}})"></div>
		<h2 class="card_title">{{heading}}</h2>
		<p class="card_text">{{info}}</p>
		<a href="{{linkUrl}}" class="card_link">{{linkText}}</a>
	</div>
	{{/each}}
</main>


<div class="form">
	{{#each actions}}
	<div class="form_item">
		<div class="form_title">
			{{heading}}
		</div>
		<div class="form_action">
			<a href="{{url}}" class="button form_button">{{text}}</a>
		</div>
	</div>
	{{/each}}
</div>


<footer class="footer">
	<div>
		{{>logo }}
		<span class="header_copyright">Copyright 2023-2024</span>
	</div>
	{{#each footer}}
	<div>
		<span class="footer_title">{{title}}</span>
		{{>nav list=links isVertical=true}}
	</div>
	{{/each}}
</footer>