<header class="header">
	<a class="" href="#test">
		{{>logo }}
	</a>

	<nav class="header_link">
		<div class="header_nav_right">
			{{>nav list=header }}
		</div>
	</nav>
</header>

<main class="main">
	<div class="info">
		<h1>{{info.title}}</h1>
		<p class="info_text">{{info.description}}</p>
	</div>


	{{#with form}}
	<form class="form">
		<h2 class="form_title">{{title}}</h2>
		<div class="form_input_list">
			{{#each inputs}}
			<input class="form_input" id="form_input_{{id}}" name="{{name}}" placeholder="{{placeholder}}" type="{{type}}">
			{{/each}}
		</div>
		<div class="form_checkbox">
			<input type="checkbox" name="{{checkbox.name}}" id="{{checkbox.name}}">
			<div></div>
			<label for="{{checkbox.name}}">{{checkbox.label}}</label>
		</div>
		<button class="form_button" type="submit">{{button}}</button>
		<p class="form_info">{{info}}</p>
	</form>
	{{/with}}
</main>

{{#with updates}}
<div class="updates">
	<h3 class="updates_title">{{title}}</h3>
	{{#each list}}
	<div class="upd_item">
		<img class="upd_image">
		<div class="upd">
			<strong class="upd_name">{{nickname}}</strong>
			<div class="upd_text">{{description}}</div>
		</div>
	</div>
	{{/each}}
	{{#with show_all}}
	<a href="{{url}}" class="upd_link">{{text}}</a>
	{{/with}}
</div>
{{/with}}

{{#with expirience}}
<div class="expirience">
	<h2>{{title}}</h2>
	
	<div class="column">
		{{#each list}}
		<div class="expirience_list">
			<strong>{{name}}</strong>
			<p>{{details}}</p>
		</div>
		{{/each}}
	</div>
	
	<div class="expirience_badge">{{badge}}</div>
</div>
{{/with}}




<footer class="footer" id="test">
	<div>
		{{>logo }}
		<span class="header_copyright">Copyright 2023-2024</span>
	</div>
	{{#each footer}}
	<div>
		<span class="footer_title">{{title}}</span>
		{{>nav list=links isVertical=true}}
	</div>
	{{/each}}
</footer>